<mat-card>
  <mat-card-title>Simple - HRMS</mat-card-title>
  <img src="../../../assets/images/p-logo.svg" />
  <mat-card-content>
    <form #loginForm="ngForm">
      <p>
        <mat-form-field>
          <input
            matInput
            #emailInput="ngModel"
            type="email"
            placeholder="Email"
            name="email"
            required
            email
            ngModel
          />
          <mat-error *ngIf="emailInput.invalid"
            >Please enter a valid email</mat-error
          >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            name="password"
            required
            ngModel
            #passwordInput="ngModel"
          />
          <mat-error *ngIf="emailInput.invalid"
            >Please enter a password</mat-error
          >
        </mat-form-field>
      </p>

      <div class="button">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onLogin(loginForm)"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
