<app-header></app-header>
<mat-card>
  <h3>Employee Details</h3>

  <hr />
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="employee">
    <table>
      <tr>
        <td>
          First Name:
        </td>
        <td>{{ employee.fname }}</td>
      </tr>

      <tr>
        <td>
          Last Name:
        </td>
        <td>{{ employee.lname }}</td>
      </tr>

      <tr>
        <td>
          Date Of Birth:
        </td>

        <td>
          {{ employee.dob | date: "MM-dd-yyyy" }}
        </td>
      </tr>
      <tr>
        <td>
          Street Address:
        </td>
        <td>
          {{ employee.address.street }}
        </td>
      </tr>
      <tr>
        <td>
          Apt/Door/Suite:
        </td>
        <td>
          {{ employee.address.apt }}
        </td>
      </tr>
      <tr>
        <td>
          City:
        </td>
        <td>
          {{ employee.address.city }}
        </td>
      </tr>
      <tr>
        <td>
          State:
        </td>
        <td>
          {{ employee.address.state }}
        </td>
      </tr>
      <tr>
        <td>
          Country:
        </td>
        <td>
          {{ employee.address.country }}
        </td>
      </tr>
      <tr>
        <td>
          Annual Pay:
        </td>
        <td>{{ employee.salary }}</td>
      </tr>
      <tr>
        <td class="fitwidth">
          Pre Tax Deduction:
        </td>
        <td>{{ employee.deduction }}</td>
      </tr>
      <tr>
        <td class="fitwidth">
          Take Home Pay:
        </td>
        <td>{{ totalTakeHome }}</td>
      </tr>
    </table>

    <div class="google-chart">
      <google-chart
        #chart
        [title]="title"
        [type]="type"
        [data]="data"
        [options]="options"
        [width]="width"
        [height]="height"
      >
      </google-chart>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="action('list')">
    Back to List
  </button>
  <button mat-raised-button color="primary" (click)="action('edit')">
    Edit
  </button>
</mat-card>
