<app-header></app-header>
<mat-card>
  <h3>Employee Details</h3>

  <hr />
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <div *ngIf="employee">
    <div>
      <mat-label><b>First Name: </b></mat-label> {{ employee.fname }}
    </div>
    <div>
      <label><b>Last Name: </b></label> {{ employee.lname }}
    </div>
    <div>
      <label><b>Date Of Birth: </b></label>
      {{ employee.dob | date: "MM-dd-yyyy" }}
    </div>
    <div>
      <label><b>Address: </b></label> {{ employee.address.street }},
      {{ employee.address.apt }}, {{ employee.address.city }},
      {{ employee.address.state }}, {{ employee.address.country }}
    </div>
    <div>
      <label><b>Annual Pay: </b></label> {{ employee.salary }}
    </div>
    <div>
      <label><b>Pre Tax Deduction: </b></label> {{ employee.deduction }}
    </div>
    <div>
      <label><b>Take Home Pay: </b></label> {{ totalTakeHome }}
    </div>
    <google-chart
      #chart
      [title]="title"
      [type]="type"
      [data]="data"
      [options]="options"
      [width]="width"
      [height]="height"
    >
    </google-chart>
  </div>
  <button mat-raised-button color="primary" (click)="action('list')">
    Back to List
  </button>
  <button mat-raised-button color="primary" (click)="action('edit')">
    Edit
  </button>
</mat-card>
