mat-card {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
}

button {
  margin-top: 1rem;
  margin: 1%;
}

mat-spinner {
  margin: auto;
}

div {
  padding: 5px;
  display: block;
}

td,
tr {
  padding: 2%;
  vertical-align: middle;
}

td {
  width: 1px;
  white-space: nowrap;
}

table {
  width: auto;
}
