mat-card {
  margin: auto;
  margin-top: 10%;
  width: 18%;
}

.example-form {
  max-width: 90%;
  width: 100%;
}

.full-width {
  width: 100%;
  padding-left: 1rem;
}

button {
  display: flex;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

div {
  width: auto;
  height: auto;
  background: 0;
}

img {
  max-width: 100px;
  min-width: 20px;
  display: flex;
  margin: auto;
  margin-bottom: 10%;
}
