.outer-div {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  max-width: 90%;
}
table {
  margin-top: 1rem;
}
/*.info-text {
  text-align: center;
} */

mat-spinner {
  margin: auto;
}

table {
  width: 100%;
}

.w-150 {
  max-width: 222px;
}

button {
  margin: 1rem;
}
