mat-spinner {
  margin: auto;
}

div {
  margin: auto;
  width: fit-content;
  margin-top: 2rem;
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.inner-div {
  margin: initial;
}

button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
